.title{
    color: floralwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.texto16{
	color: floralwhite;
	font-size:16pt;
	font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.field{
	color:black;
	background:floralwhite;
	font-size:14pt;
	font-weight:bold;
	border-radius:7px;
}

.button{
	color:floralwhite;
	background:dodgerblue;
	width: 250px;
	height:40px;
	font-size:16pt;
	font-weight:bold;
	border-radius:7px;
}

.myTable { background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#000;color:white;width:50%; }
.myTable td, .myTable th { padding:5px;border:1px solid #000; }